<div>
    <div ng-show="addingTranslation" class="row">
        <div class="btn-group col-sm-3" dropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" style="width: 100%">
                {{selectedLanguage.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="language in languages">
                    <a ng-click="setLanguage(language)">{{language.name}}</a>
                </li>
            </ul>
        </div>

        <div class="condensed-col col-sm-6">
            <input class="form-control" ng-model="sentence" type="text" placeholder="{{dictionary.sentence}}"/>
        </div>
        <div class="col-sm-3" style="text-align: right">
            <button class="btn btn-primary" ng-click="addTranslation(); addingTranslation = false">
                <span class="fui-check"></span>
            </button>
            <button class="btn btn-default" ng-click="addingTranslation = false">
                <span class="fui-cross"></span>
            </button>
        </div>
    </div>
    <div class=" add-translate-btn" tooltip="{{user ? '' : dictionary.login_to_add_translation}}"
         tooltip-placement="bottom">
        <button type="button" ng-class="{disabled: !user}"
                class="btn btn-default" ng-hide="addingTranslation"
                ng-click="showAddTranslationForm()">
            {{dictionary.add_translation}}
        </button>
    </div>
</div>