<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html ng-app="TranslationFeedApp">
<head lang="en">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Translation Feed</title>

    <link rel="stylesheet" href="app/assets/js/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/assets/css/flat-ui.min.css"/>
    <link rel="stylesheet" href="app/assets/js/ng-dialog/ng-dialog-theme-plain.css"/>
    <link rel="stylesheet" href="app/assets/js/ng-dialog/ng-dialog.min.css"/>
    <link rel="stylesheet" href="app/app.css?v=11"/>
    <link rel="stylesheet" href="app/features/translation-list/translation-list.css?v=11"/>
    <link rel="stylesheet" href="app/features/translation/word-translations/create/create-word-translation.css?v=11"/>
</head>
<body ng-controller="RootController">

<div class="container">

    <h3 class="linguas-title">
        <span class="primary-title" tooltip-html-unsafe="{{description}}" tooltip-placement="bottom">Linguas</span>,
        Translation Feed
    </h3>
    <!--
        <p class="description">
            <span class="linguas-title">Linguas</span>,
        </p>-->

    <!-- facebook login button-->
    <facebook-login ng-if="!user"></facebook-login>

    <!-- user information -->
    <div class="user-info" ng-if="user">
        Logged in as {{user.attributes.firstName}} <a href="#" ng-click="logout()"> - logout</a>
    </div>

    <!-- primary language selection -->
    <div class="primary-language-selection btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled" ng-cloak>
            I speak {{primaryLanguage.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="language in languages">
                <a href="#" ng-click="setPrimaryLanguage(language)">{{language.name}}</a>
            </li>
        </ul>
    </div>

    <!-- creating new translation -->
    <create-translation ng-show="user && opensimsim"></create-translation>

    <!-- showing translation list -->
    <translation-list></translation-list>

</div>

<script src="//www.parsecdn.com/js/parse-1.3.0.min.js"></script>
<script src="app/assets/js/jquery.min.js"></script>
<script src="app/assets/js/cheet.min.js"></script>
<script src="app/assets/js/angular/angular.min.js"></script>
<script src="app/assets/js/ng-dialog/ng-dialog.js"></script>
<script src="app/assets/js/ng-storage.js"></script>
<script src="app/assets/js/ui-bootstrap-tpls.min.js"></script>
<!--<script src="app/assets/js/bootstrap/js/tooltip.js"></script>-->

<script src="app/app.js?v=11"></script>
<script src="app/features/translation/create-translation/create-translation.js?v=11"></script>
<script src="app/features/translation-list/translation-list.js?v=11"></script>
<script src="app/features/facebook-login/facebook-login.js?v=11"></script>

</body>
</html>