<div>
    <table class="word-translation-form">
        <thead>
        <tr>
            <td>
            </td>
            <td>
                <div class="btn-group " dropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle">
                        {{fromLanguage.name}}

                        <span class="fui-arrow-right"></span>

                        {{toLanguage.name}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="language in languages">
                            <a href="#" ng-click="setToLanguage(language)">{{language.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="word in words track by $index">
            <td>{{word}}</td>
            <td>
                <input class="word-input" ng-model="wTranslations[$index]" type="text"/>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>
                <button class="button button-flat-action button-rounded"
                        ng-click="addWordTranslations(bunch)">
                    add words
                </button>
            </td>
        </tr>
        </tfoot>
    </table>

</div>