@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext,cyrillic-ext,greek-ext,cyrillic);

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/* end clearfix */

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  color: #454545;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.create-translation-form {
  margin-top: 20px;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 20px;
}

.description {
  margin: 0;
  color: #aaaaaa;
}