@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext,cyrillic-ext,greek-ext,cyrillic);

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* end clearfix */

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    color: #454545;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #2ab081;
    text-decoration: none;
}

a:visited {

}

.has-transition {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.create-translation-form {
    margin-top: 20px;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin-top: 20px;
}

.description {
    color: #aaaaaa;
    font-size: .8em;
}

.user-info {
    height: 41px;
    line-height: 41px;
    color: #666;
    display: inline-block;
}

.primary-language-selection {
    float: right;
}

.primary-language-selection select {
    margin-top: -6px;
}