<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand linguas-title" href="#">
                Linguas
            </a>
        </div>
        <div class="collapse navbar-collapse collapse text-center" id="navbar-collapse-01">

            <div class="btn-toolbar" style="display: inline-block; margin-top: 5px">
                <div class="btn-group">
                    <a class="btn btn-inverse" ng-class="{active : level == 'a1'}" ng-click="setLevel('a1')">A1</a>
                    <a class="btn btn-inverse" ng-class="{active : level == 'a2'}" ng-click="setLevel('a2')">A2</a>
                    <a class="btn btn-inverse" ng-class="{active : level == 'b1'}" ng-click="setLevel('b1')">B1</a>
                    <a class="btn btn-inverse" ng-class="{active : level == 'b2'}" ng-click="setLevel('b2')">B2</a>
                    <a class="btn btn-inverse" ng-class="{active : level == 'c1'}" ng-click="setLevel('c1')">C1</a>
                    <a class="btn btn-inverse" ng-class="{active : level == 'c2'}" ng-click="setLevel('c2')">C2</a>
                </div>
            </div>

            <a class="navbar-text" ng-class="{'dir-rtl': primaryLanguage.code == 'ar-sa'}" style="opacity: .2;" tooltip-html-unsafe="{{dictionary.linguas_description}}"
               tooltip-placement="bottom">
                {{dictionary.what_is_linguas}}
            </a>

            <!-- primary language selection -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown">
                        <!--{{primaryLanguage.name}}-->
                        <img ng-src="/app/assets/img/flags/{{primaryLanguage.code}}.png" style="height: 20px"/>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="language in languages">
                            <a ng-click="changePrimaryLanguage(language)">{{language.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-if="user">
                    <a data-toggle="dropdown">
                        {{user.attributes.firstName}} {{user.attributes.lastName}}
                        <span class="dropdown-arrow"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()">logout</a></li>
                    </ul>
                </li>
                <!--<p ng-if="user" class="navbar-text" ng-click="login()" data-toggle="dropdown">
                    <a>{{user.attributes.firstName}} {{user.attributes.lastName}}</a>
                </p>
                <ul class="dropdown-menu btn-inverse">
                    <li><a ng-click="logout()">logout</a></li>
                </ul>-->
                <facebook-login ng-if="!user"></facebook-login>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>