<div class="translation-list">

    <ul>
        <li class="translation-bunch-list" ng-repeat="bunch in translationBunches track by $index">
            <span class="created-at">{{bunch.createdAt | date : format : timezone}}</span>
            <ul class="translation-bunch clearfix">
                <li>
                    <div class="translation clearfix"
                         ng-repeat="translation in bunch.attributes.translations track by $index">

                        <!-- flag -->
                        <img ng-src="/app/assets/img/{{translation.language}}.png"/>

                        <!--listen btn -->
                        <img class="listen-btn has-transition" src="/app/assets/img/audio.svg"
                             ng-click="listenTranslation(translation)"/>

                        <!-- sentence -->
                        <div class="sentence">
                            <span ng-repeat="word in translation.words track by $index">
                                <span class="word has-transition" ng-class="{'has-translation': word.translation}"
                                      tooltip="{{word.translation}}">{{word.value}}</span>
                                <span> </span>
                            </span>
                        </div>

                        <!-- delete btn -->
                        <span ng-if="user && user.id == translation.owner" tooltip="delete"
                              class="fui-cross delete-btn has-transition"></span>
                        <!--<img ng-if="user && user.id == translation.owner" class="delete-btn has-transition"
                             src="/app/assets/img/delete.png"
                             ng-click="removeTranslation(bunch, translation)"/>-->

                        <!-- add word translation btn -->
                        <span ng-if="user" class="fui-tag add-word-translation-btn has-transition" tooltip="translate words"
                              ng-click="addWordTranslation(bunch, translation)"></span>

                        <!--<img ng-if="user" class="add-word-translation-btn has-transition"
                             src="/app/assets/img/word.png"
                             ng-click="addWordTranslation(bunch, translation)"/>-->


                    </div>
                    <div>
                        <div ng-show="bunch.addingTranslation" class="form-inline">

                            <div class="btn-group " dropdown>
                                <button type="button" class="btn btn-primary dropdown-toggle">
                                    {{bunch.newTranslation.selectedLanguage.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="language in languages">
                                        <a href="#" ng-click="setNewTranslationLanguage(bunch, language)">{{language.name}}</a>
                                    </li>
                                </ul>
                            </div>

                            <input class="form-control"
                                   ng-model="bunch.newTranslation.sentence" type="text"/>
                            <button class="btn btn-primary"
                                    ng-click="addTranslation(bunch); bunch.addingTranslation = false">
                                add
                            </button>
                            <button class="btn btn-default"
                                    ng-click="bunch.addingTranslation = false">
                                cancel
                            </button>
                        </div>
                        <button ng-if="user" type="button" class="btn btn-default add-translate-btn"
                                ng-hide="bunch.addingTranslation"
                                ng-click="bunch.addingTranslation = true;
                                bunch.newTranslation.selectedLanguage = languages[0];
                                bunch.newTranslation.sentence = '';">add translation
                        </button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>