
.sentence-input {
  width: 340px;
  height: 30px !important;
  line-height: 30px;
  text-align: left;
  padding: 0 5px;
}

.translation-list {
  margin-top: 50px;
}

.translation-bunch-list {
  list-style: none;
}

.translation-bunch {
  list-style: none;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  width: 600px;
}

.translation-bunch .sentence-input {
  width: 260px;
}

.translation-bunch .translation {
  width: 100%;
  color: #333;
  margin: 10px 0;
  position: relative;
}

.translation-bunch .translation img {
  float: left;
  width: 30px;
  height: 30px;
}

.translation-bunch .translation .sentence {
  max-width: 90%;
  float: left;
  margin: 5px 0 0 10px ;
}

.translation-bunch .translation .delete-btn {
  top: 0;
  right: 0;
  position: absolute;
  margin-top: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
}

.translation-bunch .translation:hover .delete-btn {
  opacity: 1;
}

.translation-bunch .translation .language {
  opacity: 0;
  color: #aaaaaa;
  margin-left: 15px;
}

.translation-bunch:hover .translation .language {
  opacity: 1;
}

.translation-bunch .add-translate-btn {
  float: right;
}